.cp-header {
    background: $clr-white;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9998;

    &.fixed-header {
        position: fixed;
        // transform: translateY(-100%);
        transition: all 0.5s;
        // width: 100%;
        // z-index: 9998;

        .right-links {
            display: flex;
            margin-top: 1.5rem;
        }

        .navbar {
            display: flex;
        }

        .bs-nav {
            .row-item {
                justify-content: center;

                .parent {
                    &:hover {
                        .submenu {
                            top: 100%;
                        }
                    }
                }
            }

            .navbar {
                .row-item {
                    margin-left: 0%;

                    &:first-child {
                        margin-left: 0%;
                    }

                    &:nth-child(2) {
                        margin-left: 5rem;
                    }
                }
            }

            .nav-link {
                font-size: 2.4rem;
                padding: 1rem 0 2.6rem;

                &:before {
                    bottom: 1.2rem;
                    height: 6px;
                }
            }
        }
    }

    &.scroll-up {
        transform: translateY(-100%);
        z-index: 999;

        .bs-nav {
            .nav-link {
                font-size: 2.4rem;
            }
        }
    }

    &.scroll-down {
        //   position: fixed;
        transform: translateY(0);
        z-index: 999;

        .navbar {
            display: flex;
            transition: all 0.5s;
        }

        .bs-nav {
            .nav-link {
                font-size: 2.4rem;
            }
        }
    }

    .top-links {
        padding: 1.7rem 0;
        text-transform: uppercase;

        .list {
            display: flex;
            justify-content: flex-end;

            .item {
                padding: 0 1.2rem;
                line-height: 0.9;
                font-weight: $font-medium;

                +.item {
                    border-left: 1px solid $clr-primary;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        a {
            color: $clr-primary;

            &:hover {
                color: $clr-h2;
            }
        }
    }

    .hamburger-menu {
        display: none;
    }

    .logo-wrap {
        max-width: 20rem;

        .logo {
            display: block;
        }
    }

    .top-wrap {
        display: flex;
        align-items: center;
    }

    .other-links {
        margin-left: auto;
        display: flex;
        align-items: center;

        .icon {
            font-size: 2.4rem;
            cursor: pointer;
            color: $clr-h3;
        }
    }

    .search-wrap {
        position: relative;

        &.active {
            .search-field-wrap {
                opacity: 1;
                visibility: visible;
            }

            // .search-btn {
            //     right: 2rem;
            // }
        }

        .search-field-wrap {
            position: absolute;
            right: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
            top: -1.32rem;
            z-index: 1;

            input {
                width: 60rem;
                height: 5rem;
                padding: 0 6rem 0 3rem;
                line-height: 5rem;
                border: 1px solid $clr-base;
                color: $clr-base;
                background: $clr-white;
                font-weight: $font-medium;
            }

            .search-btn {
                right: 2rem;
                position: absolute;
                top: 1.3rem;
            }

            .close-search {
                display: none;
            }
        }

        .search-btn {
            z-index: 1;
            right: 0;
            position: relative;
            display: inline-block;
            transition: all 0.3s;
        }

    }

    .user-account {
        margin: 0 3rem;

        .acc-link {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .text {
            margin-left: 1.6rem;

            .welcome {
                display: block;
                font-size: 1.2rem;
                font-weight: $font-medium;
            }

            .username {
                display: block;
                font-size: 1.6rem;
                font-weight: $font-bold;
                color: $clr-h1;
                text-transform: uppercase;
                position: relative;
                padding-right: 2.4rem;

                &:before {
                    content: "";
                    border: 9px solid transparent;
                    border-top: 9px solid $clr-h3;
                    display: block;
                    position: absolute;
                    top: 0.5rem;
                    right: 0;
                }
            }
        }

        .dropdown-links {
            display: none;
        }
    }

    .bottom-wrap {
        position: relative;
        margin-top: 2rem;
    }

    .bottom-inner {
        display: flex;
        align-items: flex-start;
    }

    .bs-nav {
        width: 100%;

        .row-item {
            justify-content: center;
        }

        .navbar {
            .row-item {
                margin-left: 12%;

                &:first-child {
                    margin-left: -12%;
                }

                // &:nth-child(2) {
                // }
            }
        }

        .welcome-text,
        .user-name,
        .close-menu {
            display: none;
        }

        .nav-link {
            font-size: 3.6rem;
            font-weight: $font-bold;
            color: $clr-h3;
            text-transform: uppercase;
            transition: all 0.2s;
            display: inline-block;
            padding: 1rem 0 1.5rem;
            position: relative;
            line-height: 1;

            &:before {
                content: "";
                width: 0;
                height: 4px;
                transition: all 0.2s;
                background: $clr-primary2;
                position: absolute;
                bottom: 0.9rem;
                left: 0;
            }

            &:hover {
                color: $clr-h1;

                &:before {
                    width: 6rem;
                }
            }
        }

        .row-item {
            display: flex;

            >.list {
                display: flex;

                >.item {
                    +.item {
                        margin-left: 5rem;
                    }
                }
            }

            .parent {
                &:hover {
                    >.nav-link {
                        color: $clr-h1;

                        &:before {
                            width: 6rem;
                        }
                    }

                    .submenu {
                        opacity: 1;
                        visibility: visible;
                        top: 6rem;

                        // .cat-list {
                        //     transform: rotateX(0deg);
                        // }
                    }
                }
            }
        }

        .submenu {
            box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.1);
            background-color: $clr-base-light;
            position: absolute;
            top: 9rem;
            opacity: 0;
            visibility: hidden;
            left: 0;
            right: 0;
            z-index: 6;
            transition: all 0.3s;
            padding: 3rem 0 0;
            // perspective: 1000px;
            // transform-style: preserve-3d;

            .nav-link {
                font-size: 1.6rem;
                font-weight: $font-regular;
                text-transform: capitalize;
                line-height: 1.3;
                padding: 0;

                &:hover {
                    &::before {
                        display: none;
                    }
                }
            }

            .cat-img {
                margin-right: 5.5rem;
                position: relative;
                min-width: 27rem;
                margin-bottom: 3rem;

                .cat-desc {
                    position: absolute;
                    bottom: 2.4rem;
                    text-transform: capitalize;
                    left: 3rem;
                    right: 3rem;
                    color: $clr-white;
                }

                .cat-type {
                    font-size: 9rem;
                    letter-spacing: -1px;
                    font-family: $font2;
                }

                .cat-name {
                    font-size: 3.6rem;
                    margin-top: 1rem;
                    font-weight: $font-bold;
                }
            }

            .cat-list {
                // transform: rotateX(-90deg);
                // transform-origin: top;
                // transition: all 0.4s;
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                >.item {
                    padding: 0 2.5rem 0 0;
                    width: 25%;
                    margin-bottom: 3rem;

                    // &:last-child {
                    //     padding-right: 0;
                    // }

                    .item {
                        padding: 0.4rem 0;
                    }
                }
            }

            .cat-icon {
                display: block;

                img {
                    height: 3.8rem;
                    width: auto;
                    margin-bottom: 1.8rem;
                }
            }

            .cat-name {
                display: flex;
                flex-direction: column;
                margin-bottom: 1.2rem;

                .icon {
                    font-size: 4rem;
                }

                .title {
                    margin-top: 1.1rem;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    font-weight: $font-bold;
                }
            }
        }

        .submenu-inner {
            width: 100%;
            display: flex;
            align-items: flex-start;

        }
    }

    .right-links {
        display: flex;
        align-items: center;
        display: none;
        margin-left: auto;
        font-weight: $font-semibold;
        color: $clr-h1;

        .icon {
            font-size: 1.4rem;
            color: $clr-h3;
            margin-right: 1rem;
        }

        .location-wrap {
            display: flex;
            align-items: center;
            margin-right: 3rem;


            .cur-location {
                display: flex;
                white-space: nowrap;

                .pincode {
                    color: $clr-primary;
                    margin-left: 0.4rem;
                }
            }
        }

        .help-wrap {
            margin-left: auto;
        }

        .help-link {
            display: flex;
            align-items: center;

        }
    }
}

@media screen and (max-width:1024px) and (min-width:768px) {
    .cp-header {
        .bottom-wrap {
            margin-top: 1.3rem;
        }

        .search-wrap {
            .search-field-wrap {
                input {
                    width: 45rem;
                }
            }
        }

        &.scroll-down {
            .bs-nav {
                .nav-link {
                    font-size: 2.1rem;
                }
            }
        }

        &.fixed-header {
            .right-links {
                margin-top: 1.3rem;
            }
        }
    }
}

@media screen and (max-width:$xs) {
    .cp-header {
        &.fixed-header {
            .right-links {
                margin-top: 0;
            }
        }

        .top-links {
            padding: 1.2rem 0 2rem;
            font-size: 1.2rem;
        }

        .hamburger-menu {
            display: inline-flex;
            margin-right: 1.8rem;

            .icon-hamburger {
                font-size: 2.7rem;
            }
        }

        .logo-wrap {
            max-width: 12rem;
        }

        .other-links {
            .icon {
                font-size: 1.8rem;
            }
        }

        .search-wrap {
            &.active {
                .search-btn {
                    right: 0;
                }
            }

            .search-field-wrap {
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                height: 100vh;
                background: $clr-white;
                z-index: 11;

                input {
                    width: 100%;
                    height: 4rem;
                    line-height: 4rem;
                    border: 0;
                }

                .input-wrap {
                    background: $clr-h2;
                    padding: 2rem 1.8rem;
                    padding-right: 6rem;
                }

                .close-search {
                    right: 1rem;
                    top: 2rem;
                    color: $clr-white;
                }

                .search-btn {
                    right: 6.6rem;
                }

                .close-search,
                .search-btn {
                    display: block;
                    position: absolute;
                    height: 4rem;
                    width: 4rem;
                    top: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .icon {
                        font-weight: bold;
                    }
                }
            }

        }

        .user-account {
            margin: 0 2rem;

            .text {
                display: none;
            }
        }

        .bottom-wrap {
            margin-top: 1.6rem;
            padding-bottom: 1rem;
        }

        .bs-nav {
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            width: 90%;
            background: $clr-white;
            z-index: 77;
            padding: 2rem;
            height: 100vh;
            box-shadow: 0 0 60px rgba(255, 255, 255, 1);
            transform: translateX(-130%);
            transition: all 0.4s;
            overflow: auto;

            &.active {
                transform: translateX(0);
            }


            .welcome-text,
            .user-name,
            .close-menu {
                display: block;
            }

            .welcome-text {
                font-size: 1.2rem;
                font-weight: $font-semibold;
                line-height: 3.4rem;
                text-transform: capitalize;
                letter-spacing: 2px;
            }

            .user-name {
                font-size: 2.4rem;
                color: $clr-h2;
                line-height: 3.4rem;
                font-weight: $font-bold;
                text-transform: uppercase;
            }

            .close-menu {
                position: absolute;
                right: 2rem;
                top: 2.9rem;
                display: inline-block;
                cursor: pointer;

                .icon {
                    display: inline-block;
                    font-size: 1.8rem;
                    font-weight: bold;
                    padding: 1rem;
                }
            }

            .navbar {
                margin-top: 1rem;

                .row-item {
                    margin-left: 0;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

            .row-item {

                >.list {
                    display: block;
                    width: 100%;

                    .item {
                        border-top: 1px solid $clr-h3;

                        +.item {
                            margin-left: 0;
                        }

                        &.parent {
                            position: relative;

                            .arrow {
                                position: absolute;
                                right: 0;
                                width: 3.5rem;
                                height: 3.5rem;
                                top: 0.7rem;

                                &:before {
                                    content: "";
                                    border: 8px solid transparent;
                                    border-top: 9px solid $clr-h3;
                                    display: block;
                                    position: absolute;
                                    top: 1.1rem;
                                    right: 0rem;
                                }
                            }
                        }
                    }
                }

                &:first-child {
                    >.list {
                        .item {
                            &:first-child {
                                border-top: 0;
                            }
                        }
                    }
                }
            }

            .nav-link {
                font-size: 1.6rem;
                color: $clr-h1;
                padding: 1.5rem 0 1.6rem;
                position: relative;
                line-height: 1;

                &:before {
                    display: none;
                }
            }

            .submenu {
                opacity: 1;
                visibility: visible;
                position: static;
                background: none;
                box-shadow: none;
                padding: 0;

                .container {
                    padding: 0;
                }

                .cat-list {
                    display: block;

                    >.item {
                        padding: 0;
                        margin-bottom: 2rem;
                        width: 100%;
                    }

                    .item {
                        border: 0;

                        .nav-link {
                            color: $clr-base;
                        }
                    }
                }

                .cat-name {
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 0.6rem;

                    .icon {
                        font-size: 2.8rem;
                    }

                    .title {
                        margin-top: 0;
                        margin-left: 1rem;
                    }
                }

                .nav-link {
                    line-height: 2rem;
                }
            }

            .submenu-inner {
                display: block;
            }

            .cat-img {
                display: none;
            }
        }


        .right-links {
            display: flex;
            width: 100%;
            font-size: 1.2rem;
            justify-content: space-between;
        }
    }
}