/* colors */

$clr-white:#ffffff;
$clr-black:#000000;
$clr-base:#7a7a7a;
$clr-primary:#067261;
$clr-primary2:#fdb814;
$clr-sec1:#94aca7;
$clr-sec2:#d8b065;
$clr-sec3:#aa5042;
$clr-h1:#3a4c56;
$clr-h2:#5a697e;
$clr-h3:#7d8593;
$clr-base-light:#eeeeee;

/*font family*/

$font1: 'Barlow',
sans-serif;
$font2: 'stay_classy_sldtregular',
sans-serif;

/*font weight*/

$font-regular:400;
$font-medium:500;
$font-semibold:600;
$font-bold:700;

/* breakpoints */

$xl:1660px;
$lg: 1400px;
$md: 1200px;
$sm: 1020px;
$xs: 767px;
$xxs: 576px;